<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <title>Dream Draft!</title>
  <link rel="icon" type="image/gif"
    href="https://i.pinimg.com/originals/71/7c/14/717c14c2d2de983f9bddffea12746ec8.jpg" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark border border-dark">
    <a class="navbar-brand" href="/">Fantasy Draft Helper!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav justify-content-end align-self-right">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Add Player</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile/players/1">View Player Profile</a>
        </li>
      </ul>
    </div>
  </nav>
  {{{body}}}
  <footer>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3 border border-dark">

      </div>
    </nav>
  </footer>

</body>

</html>