<div class="container">
    <div class="row text-center my-3">
        <div class="col-12">
            <h2>Add a Player to Our Database</h2>
        </div>
    </div>
    <div class="row text-center my-3">
        <div class="col-12">
            <form>
                <div class="form-row">
                    <div class="col-3">
                        <div class="form-group">
                            <table class="table border text-center">
                                <thead>
                                    <tr>
                                        <th><label for="">NAME</label></th>
                                        <th><label for="">POS</label></th>
                                        <th><label for="">PICTURE</label></th>
                                        <th><label for="">TEAM</label></th>
                                        <th><label for="">HEIGHT</label></th>
                                        <th><label for="">WEIGHT</label></th>
                                        <th><label for="">DOB</label></th>
                                        <th><label for="">EXPERIENCE</label></th>
                                        <th><label for="">DRAFTED</label></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-row text-center justify-content-center">

                </div>
            </form>
        </div>

    </div>
</div>