.list-group-item {
  line-height: 2.5;
}

.jumbotron{
 
  padding-top: 0%;
 }

 #text{
   color: aliceblue
 }

 

.players{
  background-image: url("/assets/tile.png") ;
  padding: 10%;
  
}
/* .textSmall{
  font-size: 12px;
} */


body{
  
  color: white;
  background: radial-gradient(#333a 40%,#000), url(../assets/footballTexture.png);
  
}

.container{
  min-height: 1000px;
}




#submit:hover{
background-color: cadetblue
}




.flip-card, .flip-card img {
  width: 300px;
  height: 400px;
  margin: 0 auto;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #fff;
}

/* Style the back side */
.flip-card-back {
  background-color: #000;
  transform: rotateY(180deg);
}

.profileContainer{
  background: #0009;
  border: 2px solid #000a;
  border-radius: 10px;
}

.profileCard{
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  /* border: 2px solid black; */
  /* background: #0005; */
}

.profileCard img{
  margin: 10px;
  padding: 0 10px 0 10px;
  height: 250px;
  background: #fff;
  border: 2px solid #000;
}

.text64{
  font-size: 48px;
}

td button{
  background: #ccf;
  padding: 2px;
  font-size: 12px;
}

#compareTable tr.selected{
  background: #ff05;
  border: 1px solid #ff0;
}


footer {
    padding: 30px 0;
    clear: both; 
    text-align: center;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    
  }

