.list-group-item {
  line-height: 2.5;
}

.jumbotron{
 
  padding-top: 0%;
 }

 #text{
   color: aliceblue
 }

 .card-img-top{

 }

.players{
  background-image: url("/assets/tile.png") ;
  padding: 10%;
  
}


body{
  
  color: white;
  background: radial-gradient(#333a 40%,#000), url(../assets/footballTexture.png);
  
}

.container{
  min-height: 1000px;
}




#submit:hover{
background-color: cadetblue
}

.card-body{
 
  
}

.row{

}



.flip-card, .flip-card img {
  background-color: tan;
 
  width: 300px;
  height: 350px;
  border: 1px solid rgb(0, 0, 0);
  
   /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: aqua;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  opacity: .6;
  color: rgb(47, 0, 255);
  transform: rotateY(180deg);
}

.profileContainer{
  background: #0005;
  border: 2px solid #000a;
  border-radius: 10px;
}

.profileCard{
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  /* border: 2px solid black; */
  /* background: #0005; */
}

.profileCard img{
  margin: 10px;
  padding: 0 10px 0 10px;
  height: 250px;
  background: #fff;
  border: 2px solid #000;
}



